pkgbase = hhd
	pkgdesc = Handheld Daemon. A tool for managing the quirks of handheld devices.
	pkgver = 4.1.11
	pkgrel = 1
	url = https://github.com/hhd-dev/hhd
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-babel
	depends = python
	depends = python-setuptools
	depends = python-evdev
	depends = python-rich
	depends = python-yaml
	depends = python-xlib
	depends = python-dbus
	depends = libusb
	depends = python-pyserial
	depends = lsof
	depends = python-pyroute2
	depends = python-gobject
	optdepends = hhd-user: allows running hhd as a user service.
	replaces = adjustor
	source = https://github.com/hhd-dev/hhd/archive/refs/tags/v4.1.11.tar.gz
	sha512sums = 0390d23add9ae8a5ccd6100287cfc24e04c23459028be9f72d691b6b1d45778c0a9bb67d608a88731e0119bd5cbc9d665fd5eaff70d82a31b1d4bbfcc0bb3711

pkgname = hhd
