pkgbase = vesktop-bin
	pkgdesc = A cross platform electron-based desktop app aiming to give you a snappier Discord experience with Vencord pre-installed.(Prebuilt version.Use system-wide electron)
	pkgver = 1.6.6
	pkgrel = 1
	url = https://github.com/Vencord/Vesktop
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-only
	depends = electron40
	depends = debugedit
	optdepends = speech-dispatcher: High-level device independent layer for speech synthesis interface
	provides = vesktop=1.6.6
	provides = vencord-desktop=1.6.6
	conflicts = vesktop
	conflicts = vencord-desktop
	source = vesktop.sh
	sha256sums = 31ad33b633744f5361abd964be306cea53ae1050e760c787115f7eca60045ae6
	source_aarch64 = vesktop-1.6.6-aarch64.rpm::https://github.com/Vencord/Vesktop/releases/download/v1.6.6/vesktop-1.6.6.aarch64.rpm
	sha256sums_aarch64 = 466f1764ffa86cae31acd019de98efa7f42e1f446dfb2fb1dad717a72cf8d629
	source_x86_64 = vesktop-1.6.6-x86_64.rpm::https://github.com/Vencord/Vesktop/releases/download/v1.6.6/vesktop-1.6.6.x86_64.rpm
	sha256sums_x86_64 = 40131b9de90b8d22c80c26cbe0909f479264c3887c9df36916da81f5b39b5379

pkgname = vesktop-bin
