pkgbase = legcord
	pkgdesc = Discord client with builtin client mod and theme support
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/Legcord/Legcord
	arch = any
	license = OSL-3.0
	makedepends = git
	makedepends = nodejs
	makedepends = pnpm
	depends = electron
	optdepends = libnotify: Notifications
	optdepends = xdg-utils: Open links, files, etc
	source = legcord::git+https://github.com/Legcord/Legcord.git#tag=v1.3.0
	sha256sums = cf19560369aa9314eb46d12e2a971f3b7edfcd76d6e35de3f26fb850bc2033ee

pkgname = legcord
	depends = electron
