pkgbase = github-copilot-cli
	pkgdesc = GitHub Copilot CLI brings the power of Copilot coding agent directly to your terminal.
	pkgver = 1.0.66
	pkgrel = 1
	url = https://github.com/github/copilot-cli
	arch = x86_64
	license = LicenseRef-GitHub-Copilot
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	depends = glib2
	depends = libsecret
	provides = copilot
	conflicts = github-copilot
	conflicts = github-copilot-cli-legacy
	replaces = github-copilot
	noextract = copilot-1.0.66.tgz
	options = !strip
	options = emptydirs
	options = staticlibs
	options = zipman
	source = https://registry.npmjs.org/@github/copilot/-/copilot-1.0.66.tgz
	source = CHANGELOG-1.0.66.md::https://raw.githubusercontent.com/github/copilot-cli/v1.0.66/changelog.md
	b2sums = 3729e8dff0c5202d15db62258e5dc7e4762ede8705a7429c9e3a468fa5ee6621b539b3580a6eb5aa89cf466f3a38538f9b052fc141dea4cc42d37531ceec910f
	b2sums = b8a6a9f42c21b6eb9b5cea603d5bb8da78c3e5d6780f532511bc2fca5685d09036cfdc46976ab46cad4f07345968079de34bdd1a1b13eda8243e07f0fa2e399c

pkgname = github-copilot-cli
