pkgbase = davinci-resolve
	pkgdesc = Professional A/V post-production software suite from Blackmagic Design
	pkgver = 20.3.3
	pkgrel = 1
	url = https://www.blackmagicdesign.com/support/family/davinci-resolve-and-fusion
	install = davinci-resolve.install
	arch = x86_64
	license = LicenseRef-Commercial
	makedepends = libarchive
	makedepends = xdg-user-dirs
	makedepends = patchelf
	depends = glu
	depends = gtk2
	depends = libpng12
	depends = fuse2
	depends = opencl-driver
	depends = qt5-x11extras
	depends = qt5-svg
	depends = qt5-webengine
	depends = qt5-websockets
	depends = qt5-quickcontrols2
	depends = qt5-multimedia
	depends = libxcrypt-compat
	depends = xmlsec
	depends = java-runtime
	depends = ffmpeg4.4
	depends = gst-plugins-bad-libs
	depends = python-numpy
	depends = tbb
	depends = apr-util
	depends = luajit
	depends = libc++
	depends = libc++abi
	conflicts = davinci-resolve-studio
	conflicts = davinci-resolve-beta
	conflicts = davinci-resolve-studio-beta
	options = !strip
	source = DaVinci_Resolve_20.3.3_Linux.zip::https://sw.blackmagicdesign.com/DaVinciResolve/v21.0.4/DaVinci_Resolve_21.0.4_Linux.zip?Key-Pair-Id=APKAJTKA3ZJMJRQITVEA&Signature=h/AH77ZWGNG+XS5W3QOOfyzxP7UixNfeK1MQN9At1nMCQV3xWUfuy0A3HlvWDMBFqd0oyY/VefuX/W1qH9SF1DcdLqC7ogbycriel6rlYNlmStVNN/46Bu42evKcFDQODxEOksRo5+ad1L5CEdCzVL/xmpjSDhoC6sQs/b4yRWxDAwzz982C4vmY5IEjUkCrRd3eW/0hSn5oYqbr6M6v2L6/25/zC7x2Po/6X3TEel6hJyUpXtvwTGaS/5OlabsM7q7TJohteCo/XHwVDS+76WENcuow5vVcnmObF6uKFePDXcCiTs26slfkFSb4ytGi4K3RY4Kt7Y53F4kWRq9+HQ==&Expires=1787943180
	source = davinci-control-panels-setup.sh
	sha256sums = SKIP
	sha256sums = f17236fd68cead727c647bc31404e402922cdd491df5526f4b62364cbef9d3b8

pkgname = davinci-resolve
