pkgbase = proton-pass
	pkgdesc = Open-source and secure identity manager
	pkgver = 1.38.1
	pkgrel = 1
	url = https://proton.me/pass
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs-lts-jod
	makedepends = rust
	makedepends = yarn
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = electron
	conflicts = proton-pass-bin
	source = proton-pass-1.38.1.tar.gz::https://github.com/ProtonMail/WebClients/archive/refs/tags/proton-pass@1.38.1.tar.gz
	source = proton-pass.desktop
	sha256sums = 42a304ed0da7b0d4cf788a5ffdd760e61d4c71767ba7880e4ac54ee994776f9e
	sha256sums = 501210c67fc921a2fb4ba591980192ad1da60e26fb6b2fd7d68aad4075eafac7

pkgname = proton-pass
