pkgbase = proton-pass
	pkgdesc = Open-source and secure identity manager
	pkgver = 1.40.0
	pkgrel = 1
	url = https://proton.me/pass
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs-lts-jod
	makedepends = rust
	makedepends = yarn
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = electron
	conflicts = proton-pass-bin
	source = proton-pass-1.40.0.tar.gz::https://github.com/ProtonMail/WebClients/archive/refs/tags/proton-pass@1.40.0.tar.gz
	source = proton-pass.desktop
	sha256sums = 25fa847f87528e5de6f2ad78a52ed7bb7d0cab42a4141253e014a06661c538b3
	sha256sums = 501210c67fc921a2fb4ba591980192ad1da60e26fb6b2fd7d68aad4075eafac7

pkgname = proton-pass
