pkgbase = teams-for-linux
	pkgdesc = Unofficial Microsoft Teams client for Linux using Electron.
	pkgver = 2.19.0
	pkgrel = 1
	url = https://github.com/IsmaelMartinez/teams-for-linux
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = x86_64
	license = GPL-3.0-only
	makedepends = nodejs>=18
	makedepends = node-gyp
	makedepends = npm
	depends = gtk3
	depends = libxss
	depends = nss
	optdepends = libfido2: WebAuthn with FIDO2 devices
	source = teams-for-linux-2.19.0.tar.gz::https://github.com/IsmaelMartinez/teams-for-linux/archive/v2.19.0.tar.gz
	source = teams-for-linux.desktop
	sha256sums = 046afead706a6a17c72939d38a84314a479e4a7d1313f2193f5000937e62f1dc
	sha256sums = e67c98084736f797c575970935dd773b5c348ea3d9522bc5db733a92361fc05e

pkgname = teams-for-linux
