pkgbase = rpcs3
	pkgdesc = A Sony PlayStation 3 emulator
	pkgver = 0.0.42
	pkgrel = 1
	url = https://github.com/RPCS3/rpcs3
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = git
	makedepends = libglvnd
	makedepends = python
	makedepends = clang
	makedepends = lld
	makedepends = vulkan-headers
	depends = alsa-lib
	depends = curl
	depends = ffmpeg
	depends = glew
	depends = glu
	depends = libevdev
	depends = libgl
	depends = libice
	depends = libpng
	depends = libpulse
	depends = libsm
	depends = libx11
	depends = libxext
	depends = llvm
	depends = openal
	depends = opencv
	depends = pugixml
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-svg
	depends = sdl3
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	optdepends = vulkan-validation-layers
	optdepends = rpcs3-udev
	provides = rpcs3
	conflicts = rpcs3
	options = !emptydirs
	options = !lto
	options = !strip
	source = git+https://github.com/RPCS3/rpcs3.git#tag=v0.0.42
	source = git+https://github.com/KhronosGroup/glslang.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rpcs3
