pkgbase = faugus-launcher
	pkgdesc = A simple and lightweight app for running Windows games using UMU-Launcher
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/Faugus/faugus-launcher
	arch = any
	license = MIT
	makedepends = meson
	depends = python
	depends = python-gobject
	depends = python-requests
	depends = python-pillow
	depends = python-vdf
	depends = python-psutil
	depends = python-pygame
	depends = python-cairo
	depends = libcanberra
	depends = imagemagick
	depends = icoextract
	depends = libayatana-appindicator
	depends = vulkan-tools
	provides = faugus-launcher
	conflicts = faugus-launcher
	source = https://github.com/Faugus/faugus-launcher/archive/refs/tags/2.1.0.tar.gz
	sha256sums = a6956e5bbd831bcb5b43ce9ccc41341bf108e0c372d12724b994e737c8c668ed

pkgname = faugus-launcher
