pkgbase = faugus-launcher
	pkgdesc = A simple and lightweight app for running Windows games using UMU-Launcher
	pkgver = 2.0.5
	pkgrel = 1
	url = https://github.com/Faugus/faugus-launcher
	arch = any
	license = MIT
	makedepends = meson
	depends = python
	depends = python-gobject
	depends = python-requests
	depends = python-pillow
	depends = python-vdf
	depends = python-psutil
	depends = python-pygame
	depends = python-cairo
	depends = libcanberra
	depends = imagemagick
	depends = icoextract
	depends = libayatana-appindicator
	depends = vulkan-tools
	provides = faugus-launcher
	conflicts = faugus-launcher
	source = https://github.com/Faugus/faugus-launcher/archive/refs/tags/2.0.5.tar.gz
	sha256sums = 0599d7996ef22bacd7352e80ad7c596a240e95ab9b3240c01726266a92e3ac2f

pkgname = faugus-launcher
