pkgbase = faugus-launcher
	pkgdesc = A simple and lightweight app for running Windows games using UMU-Launcher
	pkgver = 2.0.6
	pkgrel = 1
	url = https://github.com/Faugus/faugus-launcher
	arch = any
	license = MIT
	makedepends = meson
	depends = python
	depends = python-gobject
	depends = python-requests
	depends = python-pillow
	depends = python-vdf
	depends = python-psutil
	depends = python-pygame
	depends = python-cairo
	depends = libcanberra
	depends = imagemagick
	depends = icoextract
	depends = libayatana-appindicator
	depends = vulkan-tools
	provides = faugus-launcher
	conflicts = faugus-launcher
	source = https://github.com/Faugus/faugus-launcher/archive/refs/tags/2.0.6.tar.gz
	sha256sums = 5b90ec3da12feda8d9efc48b376c62231d9835c27e96825a9ac84b1f7212ee89

pkgname = faugus-launcher
