pkgbase = qtcurve
	pkgdesc = A configurable set of widget styles for Qt5, Qt6, KDE Frameworks 6 and GTK 2
	pkgver = 20260812
	pkgrel = 3
	url = https://invent.kde.org/system/qtcurve
	arch = x86_64
	license = LGPL-2.1-only
	license = LGPL-3.0-only
	license = MIT
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = kcmutils
	makedepends = kdecoration
	depends = cairo
	depends = frameworkintegration
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk2
	depends = karchive
	depends = kcmutils
	depends = kcolorscheme
	depends = kcompletion
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kdecoration
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = kxmlgui
	depends = libgcc
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = pango
	depends = perl
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-x11extras
	depends = qt6-base
	depends = qt6-svg
	conflicts = qtcurve-gtk2
	conflicts = qtcurve-kde
	conflicts = qtcurve-qt5
	conflicts = qtcurve-utils
	replaces = qtcurve-gtk2
	replaces = qtcurve-kde
	replaces = qtcurve-qt5
	replaces = qtcurve-utils
	source = git+https://invent.kde.org/system/qtcurve.git#commit=519f04b08d7a1029b62b871cc8cf408d6fbefc1f
	source = qt6-child-layout-margin.patch
	source = qt6-dolphin-small-status-bar.patch
	source = prefer-kf6-translations.patch
	source = qt6-wayland-shadows.patch
	source = qt6-kdecoration3.patch
	source = qt6-kdecoration3-kcm.patch
	source = qt6-kdecoration3-button-size.patch
	source = qt6-window-button-colors-enable.patch
	source = qt6-deprecated-api.patch
	source = qt6-preset-path.patch
	source = qt5-deprecated-api.patch
	source = build-cmake-warnings.patch
	source = build-compiler-warnings.patch
	sha256sums = d4db624ff455548fffb38277d7080a4380911bc25a12c63a1e653aa47660435f
	sha256sums = 60d6c52289f3b6e7c0645bb9acaa96a769801f66e77f50cd5551b7e613611152
	sha256sums = e4219281d09f042bac722d7ab6a6784b9b56ea34129e8b877942c91770d9a912
	sha256sums = 276fb104d13f35920e24ab8e92907d0ef482a651bb41b46f8fbbfa998ed94dd4
	sha256sums = 1e615faef30ded051d8713b5707c4693bc5f4b9eb8438f99d9f59f40faec3f42
	sha256sums = 87ade57a7f738a5584bb9991fdc9f3b489a308d5710ef69f54a8802b50997a93
	sha256sums = 32ecb48317edb4b51e4f086fae161a827b7f5650abd2cc60f454b64888c11876
	sha256sums = e3646a64f35da08d5ca772408bdb8e91e6faaa0abd12e8f8949d9548dfe050bd
	sha256sums = db521126121105d4b375976e4e33b25488953b22d8280086a279040fecaf16c0
	sha256sums = 3e8c93c4f8a38cb81a48aff2f43e300a945a842a61efb431937061acf5d08174
	sha256sums = 4f437130cf4c8f1699061eba733b038804c76e417deb0c70b2885e83fb0037bf
	sha256sums = 2b27c37159d083d9e8553c465ddbf5bd833ca2f0d35283517e9c31a64305efe6
	sha256sums = 750b652036a6a84c8991eb9953219df4040ed0262d448b30fe580e64690f9c47
	sha256sums = b664adba323966cd357a24e1be1f220633d2b261b764b0d86273bf6960da8601

pkgname = qtcurve
