pkgbase = hhd-ui
	pkgdesc = Configurator interface for Handheld Daemon.
	pkgver = 3.4.1
	pkgrel = 1
	url = https://hhd.dev
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = asar
	makedepends = libxss
	makedepends = npm
	depends = electron
	optdepends = hhd: a version of Handheld Daemon to connect to (also works over the network).
	conflicts = hhd-ui
	source = git+https://github.com/hhd-dev/hhd-ui.git#tag=v3.4.1
	sha512sums = b961c44c09487da91a7757b19fa0c6794b427985964ce75cc422724c7ff54091c35c9b9acaf0323f78cb375094c806309fad059f2598c1fcef3d4cdab4bc637f

pkgname = hhd-ui
