pkgbase = asusctl
	pkgdesc = A control daemon, tools, and a collection of crates for interacting with ASUS ROG laptops
	pkgver = 6.4.0
	pkgrel = 1
	url = https://asus-linux.org
	arch = x86_64
	license = MPL-2.0
	makedepends = clang
	makedepends = cmake
	makedepends = make
	makedepends = fontconfig
	makedepends = git
	makedepends = hicolor-icon-theme
	makedepends = libayatana-appindicator
	makedepends = libinput
	makedepends = libusb
	makedepends = cargo
	makedepends = seatd
	makedepends = systemd
	source = git+https://github.com/OpenGamingCollective/asusctl.git#tag=6.4.0
	b2sums = 0cfdc7f792fc6499cde9e4c9c6d82e484605e1b2878bb9f3a0e0696f5910b9ba7898f124fecd5fb3f39a0787f81e5163721606290099d757365dc3d6715a1bcf

pkgname = asusctl
	pkgdesc = A control daemon, CLI tools, and a collection of crates for interacting with ASUS ROG laptops
	install = asusctl.install
	depends = glibc
	depends = libgcc
	depends = libusb
	depends = systemd
	depends = systemd-libs
	optdepends = acpi_call: fan control
	optdepends = asusctltray: tray profile switcher
	optdepends = rog-control-center: app to control asusctl
	conflicts = gnome-shell-extension-asusctl-gnome

pkgname = rog-control-center
	pkgdesc = App to control asusctl
	depends = asusctl
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libgcc
	depends = libinput
	depends = libxkbcommon
	depends = mesa
	depends = seatd
	depends = systemd-libs
