pkgbase = sunshine
	pkgdesc = Self-hosted game stream host for Moonlight
	pkgver = 2026.929.34453
	pkgrel = 1
	url = https://app.lizardbyte.dev/Sunshine
	install = sunshine.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	checkdepends = gcovr
	checkdepends = imagemagick
	makedepends = appstream
	makedepends = appstream-glib
	makedepends = cmake
	makedepends = cuda
	makedepends = desktop-file-utils
	makedepends = gcc
	makedepends = git
	makedepends = make
	makedepends = nodejs
	makedepends = npm
	makedepends = python-jinja
	makedepends = shaderc
	depends = avahi
	depends = curl
	depends = gcc-libs
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libcap
	depends = libdrm
	depends = libevdev
	depends = libmfx
	depends = libpipewire
	depends = libpulse
	depends = libva
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = miniupnpc
	depends = numactl
	depends = openssl
	depends = opus
	depends = qt6-base
	depends = qt6-svg
	depends = udev
	depends = vulkan-icd-loader
	depends = which
	optdepends = cuda: Nvidia GPU encoding support
	optdepends = libva-mesa-driver: AMD GPU encoding support
	source = sunshine::git+https://github.com/LizardByte/Sunshine.git#tag=v2026.929.34453
	sha256sums = 86fbe8c4914d476140982167f3982bae7b6b8a038cd9978cd5b9a1ec9951417d

pkgname = sunshine
