pkgbase = plog
	pkgdesc = Portable, simple and extensible C++ logging library
	pkgver = 1.1.11
	pkgrel = 1
	url = https://github.com/SergiusTheBest/plog
	arch = any
	license = MIT
	source = https://github.com/SergiusTheBest/plog/archive/1.1.11.zip
	sha256sums = da9106d57780b266583c3f802bfb9af3f7182228f395e0b5127955634fca7d72

pkgname = plog
